body  {
  width: 90%;
  margin: 50px auto;
  font-size: 20px;
}

header img {
  height: 100px;
  width: auto;
  display: block;
  padding: 0;
  border: 0;
  margin: 0 auto;
}

header img:hover {
  box-shadow: 0 0 0 white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ffe5a8;
}

nav .active {
  background-color: #FCB103;
}

img {
  width: 300px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
}

img:hover {
  box-shadow: 5px 5px 5px #FCB103;
}

footer {
  background-color: #ffe5a8;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}